
<h1>All User Info</h1>
<mat-form-field class="custome-search">
  <mat-label>Search</mat-label>
  <input matInput placeholder="Search" (keyup)="filterChnage($event)"/>
</mat-form-field>
<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <a  (click)="startEdit(element)"><i class="material-icons">&#xe3c9;</i></a>
        <i style='color:red' class="material-icons" (click)="deleteUser(element.id)">&#xe872;</i>
      </td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let element">{{element.states}}</td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>city</th>
      <td mat-cell *matCellDef="let element">{{element.city}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="dataSource.filteredData.length === 0" style="text-align: center;font-weight: 400; padding-top: 10px;">No records found</div>
  <mat-paginator showFirstLastButtons [pageSizeOptions]="[5,10,15]"></mat-paginator>
  <div class="update-div" *ngIf="isEditOn">
    <app-update (update)="cancel()" [user]="user"></app-update>
  </div>