h1{
    text-align: center;
    font-weight: 500;
    margin-top: 3rem;
}
i{
    cursor: pointer;
    margin-right: 10px;
}
.update-div{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width:100%;
    background-color: rgba(70, 70, 70, 0.6);
}
