<div class="container">
    <form (ngSubmit)="onUpdate()" [formGroup]="updateUserFormGroup">
        <p (click)="cancel()">&#x2716;</p>
        <h1>Update user</h1>
        
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
        <label for="age">Age:</label>
        <input type="text" id="age"  formControlName="age">
        <label for="address">streat, area:</label>
        <input type="text" id="address" formControlName="address">
        <label for="address">Select State: </label>
        <select id="states" formControlName="states">
            <option *ngFor="let state of statesData" [value]="state">{{state}}</option>
        </select>
        <label for="address">Select City: </label>
        <select formControlName="city">
            <option *ngFor="let city of cityData" [value]="city.name">{{city.name}}</option>
        </select>
        <button type="submit">Update</button>
    </form>
</div>